* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-image: url(images/background.png);
    background-size: cover;
}

body {
    background-color: rgb(11, 0, 85, .4);
    font: 18px;
    color: white;
}

h1 {
    font-weight: bold;
    background-color: #1261A0;
}

nav {
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: column;
}

.containers {
    display: flex;
    flex: auto;
    background-color: #333;
    color: white;
    border-radius: 25px;
    padding: 10px;
    height: max-content;
    width: auto;
}