* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* html {
    background-image: url(images/background.png);
    background-size: cover;
} */

body {
    background: 
    linear-gradient(#1D116D, #00429B, #006CB8, #0093C3, #00B9C4, #41DDC1);
    background-repeat: no-repeat;
    background-size: cover;
    font: 18px;
    color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #1261A0;
    width: 50%;
}

.topbar {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

nav {
    display: flex;
    align-items: top;
    justify-content: right;
    width: 50%;
}

.navbar li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.navbar a {
    margin-left: 5px;
    text-decoration: none;
}

.containers {
    display: flex;
    flex: auto;
    background-color: #333;
    color: white;
    border-radius: 25px;
    padding: 10px;
    height: max-content;
    width: auto;
}

@media screen and max-height()